html, body {
	height: 100%;
}

body {
	background-image: url("../images/back.png");
	background-color: #2d002b;
	background-repeat: repeat-x;
	overflow: hidden;
}

.tv {
	background-image: url(../images/tv.png);
	background-size: 100% 100%;
	height: 640px;
	width: 1003px;
	margin: 100px auto;
	position: relative;
}

.container {
	width: 700px;
	margin-left: 60px;
	padding-top: 5px;
}

h1, p {
	font-family: 'Press Start 2P', cursive;
	color: white;
}

h1 {
	margin-bottom: 30px;
	font-size: 35px;
	text-align: center;
}

.topRow {
	margin-top: 45px;
}

.textCenter {
	text-align: center;
	font-size: 15px;
}

.letterRows {
	height: 40px;
}

p {
	display: inline;
    font-size: 20px;
}

img {
	width: 250px;
	float: right;
}

@media screen and (max-width: 767px){
	h1 {
		font-size: 25px;
	}

	img {
		width: 150px;
		float: right;
	}

	.topRow {
		margin-top: 35px;
	}


	p {
		display: inline;
	    font-size: 15px;
	}

	.tv {
		background-size: 80% 80%;
		background-repeat: no-repeat;
		height: 640px;
		width: 1003px;
		margin: 100px auto;
		position: relative;
	}

	.container {
		width: 500px;
		margin-left: 60px;
		padding-top: 5px;
	}

	.container {
		padding-top: 0px;
	}

}

@media screen and (max-width: 570px){
	.col-xs-12 {
		padding: 0;
	}

	h1 {
		font-size: 20px;
	}

	img {
		width: 125px;
		float: none;
	}


	p {
		display: inline;
	    font-size: 12.5px;
	}

	.tv {
		background-image: none;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		position: relative;
	    text-align: center;
	}

	.container {
		width: 100%;
		margin-left: 0;
		padding-top: 5px;
		padding-right: 0;
	}

	.container {
		padding-top: 0px;
	}

	.textCenter {
	text-align: center;
	font-size: 9px;
	}

}

