
body {
	background-image: url("../images/tv.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.foreground {
	width: 100%;
	overflow: hidden;
}

h1, p {
	font-family: 'Press Start 2P', cursive;
	color: white;
}

h1 {
    margin-left: 410px;
    margin-top: 99px;
    margin-bottom: 115px;
    font-size: 50px;
}

p {
	display: inline;
    font-size: 23px;
}

.mainContent {
	margin-left: 125px;
}

footer {
	bottom: 52px;
    margin-left: 450px;
    position: absolute;
}

img {
	width: 400px;
}

@media screen and (max-width: 1250px){
	img {
		width: 300px;
		margin-left: 50px;
	}

	p {
		display: inline;
	    font-size: 21px;
	}
}